
<style>
	#heading1{
		color:red;
		font-size: 40px;
		text-align:center;
		padding-top:0px;
		background-color:white; 
	}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top:5%;
  overflow: hidden;
  top:20%;
}

li {
  float:right;
}

li a {
  display: block;
  color: white;
  background-color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:darkorange;
  color:white;
}






		</style>